@import "tailwindcss";

@theme {
  /* On définit nos couleurs personnalisées ici si besoin */
  --color-dark-bg: #030712;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Le sélecteur .dark est ajouté par next-themes sur la balise html */
.dark {
  --background: #030712;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  transition-property: color, background-color;
  transition-duration: 300ms;
}